*{
    margin: 0;
    padding: 0;
    border:0 none;
}
body{
    background: white;
    min-height: 100%;
    padding-top: 25px;
}
a{
    text-decoration: none;
    color:black;
}
.wrap{
    width: 960px;
    background: #a1c6ea;
    background: linear-gradient(to bottom,#FEFEFE,#a1c6ea);
    margin: 0 auto;
    position: relative;
}

/*Меню и поиск*/
.menuAndSearch{
    width: 100%;
    height: 38px;
    background: #ededed;
    font-family: Arial;
    font-size: 14px;
}
.navigationTop {
    position: absolute;
    list-style: none;
    margin-top: 12px;
}
.navigationTop li{
    display: inline;
    margin-left: 11px;
}
.search{
    position: absolute;
    right: 0;
    top:0;
    margin: 12px 12px;
}


/*Header*/
.header{
    height: 227px;
}
.logo{
    display:inline;
    margin-left: 11px;
}
.contacts{
    display: inline;
    margin-left: 120px;
}
.auth{
    display:inline;
    margin-left: 65px;
}
/*Меню услуг*/
.serviceMenu{
    height: 86px;
    margin: 34px 10px 23px 10px;
    background: linear-gradient(to top,#ff9600,#ffc600);
    border-radius: 30px;
    position: relative;
}
.navigationServiceMenu{
    position: absolute;
    list-style: none;
    margin: 0px 0 0 62px;
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
}
.navigationServiceMenu li{
    float: left;

}
.navigationServiceMenu li a{
    display:block;
    padding-top: 35px;
    text-align: center;
    width: 129px;
}
.navigationServiceMenu .predpr1C a{
    background: url("img/logo1c.gif") center top no-repeat;
    margin: 14px 20px 0 0;
    border-right: 2px;
    border-image: url("img/borderBg.gif")2;
}
.navigationServiceMenu .service a{
    background: url("img/logoService.gif")center top no-repeat;
    margin: 14px 20px 0 20px;
    border-right: 2px;
    border-image: url("img/borderBg.gif")2;
}
.navigationServiceMenu .buyDevices a{
    background: url("img/logoBuyDevices.gif")center top no-repeat;
    margin: 14px 20px 0 20px;
    border-right: 2px;
    border-image: url("img/borderBg.gif")2;
}
.navigationServiceMenu .software a{
    background: url("img/logoSoftware.gif")center top no-repeat;
    margin: 14px 20px 0 20px;
    border-right: 2px;
    border-image: url("img/borderBg.gif")2;

}
.navigationServiceMenu .itService a{
    background: url("img/logoItService.gif")center top no-repeat;
    margin: 14px 20px 0 20px;
}
/*Левое меню*/
.leftMenu{
    display: inline-block;
    width: 220px;
    height: 554px;
    border-radius: 30px;
    background-image: -moz-linear-gradient( 90deg, rgb(255,150,0) 0%, rgb(255,198,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(255,150,0) 0%, rgb(255,198,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(255,150,0) 0%, rgb(255,198,0) 100%);
    margin: 22px 0 0 10px;
    position: relative;
    float: left;
}
.navigationLeftMenu{
    position: absolute;
    list-style: none;
    margin: 31px 49px 0 15px;
    font-size: 12px;
    font-family: "Arial";
    line-height: 2;
}
.navigationLeftMenu1{
    position: absolute;
    list-style: none;
    margin: 112px 29px 0 46px;
    font-size: 12px;
    font-family: "Arial";
    line-height: 2;
}
/*Контент*/
.content{
    background: white;
    border-radius: 30px;
    width: 700px;
    height: 1314px;
    margin-left: 240px;
    position: relative;
}
h1{
    position: absolute;
    margin: 23px 0 0 22px;
    font-size: 22px;
    font-family: "Arial";
    color: rgb(0, 46, 121);
    font-weight: bold;
    line-height: 1.091;
}
.listOfProducts{
    position: absolute;
    margin: 80px 0 0 45px;
}
.infoProduct a{
    font-size: 12px;
    font-family: "Arial";
    color: #003280;
    text-decoration: underline;
    line-height: 1.5;
}
.infoProduct span{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Arial";
    color: rgb(251, 159, 24);
    font-weight: bold;
    line-height: 1;
}
.item-1{
    display: inline-block;
    width:200px;
    height: 266px;
}
.item-2, .item-3{
    display: inline-block;
    width:200px;
    height: 266px;
    margin-left: 10px;
}

.item-1 img, .item-2 img, .item-3 img{
    margin-left: 36px;
}
.pagination{
    position: absolute;
    margin: 1270px 0 0 235px;
}
/*footer*/
.footer{
    height: 112px;
    margin-top: 228px;
    background-color: rgb(205, 205, 205);
}
.navigationBot {
    position: absolute;
    list-style: none;
    margin-top: 12px;
    font-size: 18px;
    font-family: "Arial";
}
.navigationBot li{
    display: inline;
    margin-left: 11px;
}
.navigationBot li a {
    color: rgb(88, 76, 61);
}
.span1footer{
    position: absolute;
    margin: 71px 0 0 11px;
    font-size: 18px;
    font-family: "Arial";
    color: rgb(88, 75, 61);
}
.span2footer {
    position: absolute;
    margin: 71px 0 0 635px;
    font-size: 14px;
    font-family: "Arial";
    color: rgb(88, 75, 61);
    text-align: right;
}

